.d-block{
    height:500px;
}
.trendingslike{
    width: 303px;
    height: 250px;
}
.categoryslike
{
    width: 303px;
    height: 350px;

}
.categoryslikee
{
    width: 250px;
    height: 400px;

}
*{

}
.font1{
    font-family: 'Angkor', cursive;
}
.font2 {
    font-family: 'Mochiy Pop One', sans-serif;
}
.font3{
    font-family: 'Monofett', cursive;
}
.font4{
    font-family: 'Roboto', sans-serif;
}
.font5{
    font-family: 'Rye', cursive;
}
.font6{
    font-family: 'Bungee Inline', cursive;

}

.checkout-form label{
    font-size: 12px;
    font-weight: 700;
}

.checkout-form input{
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
}
.order-details label{
    font-size: 12px;
    font-weight: 700;

}
.order-details div{
    font-size: 14px;
    padding: 5px !important;

}
.rating-css div {
    color: #ffe400;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}

.rating-css input {
    display: none;
}
.rating-css input + label {
    font-size: 60px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
}
.rating-css input:checked + label ~ label {
    color: #b4afaf;
}
.rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}

.checked{
    color: #ffd900;
}
.circular--square { border-radius: 50%; }

.box{

    border: 3px solid black;
    background-color: rgba(0,0,1,0.5);

}
.box1{
    border-radius: 4%;
    border: 1px solid black;
    text-align: center;
    background-color: rgba(0,0,1,0.5);
}

@media (min-width: 300px) {
    .iframe{
        width:450px;
        height:400px;
    }
    .slikaresponsive{
        width:450px;
        height:400px;
    }
    .slider{
        height:400px;
    }
    .cardd{

        width:305px;
    }
}
@media (min-width: 768px) {
    .iframe{
        margin-left:200px;
        width:400px;
        height:400px;
    }
    .slikaresponsive{
        width:300px;
        height:300px;
    }
    .slider{
        height:400px;
    }
    .cardd{

    }
}
@media (min-width: 992px) {
    .iframe{
        margin-left:200px;
        width:400px;
        height:400px;
    }
    .slikaresponsive{
        width:400px;
        height:400px;
    }
    .slider{
        height:47rem;
    }
    .cardd{


    }
}
@media (min-width: 1200px) {
    .iframe{
        margin-left:200px;
        width:820px;
        height:400px;
    }
    .slikaresponsive{
        width:550px;
        height:400px;
    }
    .slider{
        height:47rem;
    }
    .cardd{

    }
}




